/*!
  BS CSS CORE (absolute basics CSS reset)
  This is inspired by Pico.css, but is an even more minimal reset.

  Actual style systems are intended to be built on top of this easily.
*/

:root {
  color-scheme: light dark;

  --bst-font-size: 100%;

  --bst-font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bst-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--bst-font-family-emoji);
  --bst-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--bst-font-family-emoji);
  --bst-font-family: var(--bst-font-family-sans-serif);

  --bst-line-height: 1.5;
  --bst-font-weight: 400;
  --bst-font-size: 100%;
  --bst-text-underline-offset: 0.1rem;
  --bst-border-radius: 0.25rem;
  --bst-border-width: 0.0625rem;
  --bst-outline-width: 0.125rem;
  --bst-transition: 0.2s ease-in-out;

  --bst-spacing: 1rem;
  --bst-spacing-small: 0.5rem;

  /* Code block colours */
  --comment: #8e8e8e;
  --keyword: #fdbe82;
  --string: #64d721;
  --number: #c09eea;
  --operator: #a6a9fd;
  --struct: #fca1e7;
  --type: #46ceff;
  --parenthesis: #dece74;
}

/* where: is used here for less specificity, allowing easier overriding */
:where(:root) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: var(--bst-font-weight);
  font-size: var(--bst-font-size);
  line-height: var(--bst-line-height);
  font-family: var(--bst-font-family);
  text-underline-offset: var(--bst-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

}

@media (min-width: 576px) {
  :root {
    --bst-font-size: 106.25%;
  }
}
@media (min-width: 768px) {
  :root {
    --bst-font-size: 112.5%;
  }
}
@media (min-width: 1024px) {
  :root {
    --bst-font-size: 118.75%;
  }
}
@media (min-width: 1280px) {
  :root {
    --bst-font-size: 125%;
  }
}
@media (min-width: 1536px) {
  :root {
    --bst-font-size: 131.25%;
  }
}

body {
  width: 100%;
  margin: 0;
}

/* Code Style */
.codeblock {
  color: hsla(0, 0%, 100%, 0.982);
  font-family: var(--bst-font-family-monospace);
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre;
  tab-size: 4;
}
.bst-code-comment {
  color: var(--comment);
}
.bst-code-keyword {
  color: var(--keyword);
}
.bst-code-string {
  color: var(--string);
}
.bst-code-number {
  color: var(--number);
}
.bst-code-operator {
  color: var(--operator);
}
.bst-code-struct {
  color: var(--struct);
}
.bst-code-type {
  color: var(--type);
}
.bst-code-parenthesis {
  color: var(--parenthesis);
}

/* BASIC CSS RESET STUFF */

/**
 * Document
 * Content-box & Responsive typography
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
