debug/
target/
docs/dev/
test_output/

**/*.rs.bk
*.pdb

# Ignore all hidden files
.*

# But allow .git hidden files
!.gitignore
!.gitattributes
!.github/**

# These are created by compiler test files, and can be ignored
/dev
test.html
main.html
