debug/
target/
docs/dev/
test_output/

**/*.rs.bk
*.pdb

# Ignore IDE specific folders
.vscode
.idea
.cursor
.cursorignore
.kiro
.github/instructions
.clinerules
.aiignore
.junie
.aiassistant
.spec-workflow
.ai
